@charset "utf-8";
*{//重置样式
    margin:0;padding:0;
    list-style: none;
    text-decoration: none;
    .clear:after{
        content:"";
        display:block;
        clear:both;
        height:0;
        overflow:hidden;
    }
}


body{
    background-color: #FAFAFA;
}
//顶部
#header{
    width:99%;
    height:80px;
    border-bottom: solid 2px #F5F5F5;
    margin: 5px auto 0 auto;
    background-color: #FFF;
    .wrapper{
        width:1000px;
        height:80px;
        margin:0 auto;
        .logo_left{
            width: 240px;
            height: 60px;
            float: left;
            margin-top:10px;
            img{
                 max-width:240px;
                 max-height:60px;
                 border: medium none;
                 vertical-align: middle;
            }
        }
        .logo_right{
            font-size: 14px;
            color: #AAA;
            line-height: 20px;
            float: right;
            height: 40px;
            margin-top: 30px;
            .touxiang{
                width: 40px;
                height: 40px;
                margin-right: 6px;
                vertical-align: top;
                display: inline-block;
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                }
            }
            span{
                vertical-align: top;
                display: inline-block;
                a{
                    font-weight: 600;
                    margin-left: 4px;
                    color:#06C;
                }
            }
        }
    }
}

//登录表
#login{
    width:100%;
    .denglu{
        width:1000px;
        margin: 20px auto;
        .left_pic{
            width: 450px;
            height: 350px;
            float: left;
            margin: 30px 0;
            position: relative;
            z-index: 1;
            img{
                max-width: 450px;
                max-height: 350px;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
            }
        }
        .biaodan{
            background-color: #FFF;
            width: 440px;
            padding: 19px 19px 29px 19px;
            border: solid 1px #E6E6E6;
            border-radius: 5px;
            float: right;
            position: relative;
            z-index: 1;
            .arrow{//三角
                background: url(../images/login_pic.png) no-repeat -280px 0;
                width: 17px;
                height: 9px;
                position: absolute;
                z-index: 1;
                top: -9px;
                left: 160px;
            }
            .login_mode{//用户登录
                        ul{
                        font-size: 0;
                        word-spacing: -1em;
                        border-bottom: solid 1px #E6E6E6;
                          li{
                            vertical-align: bottom;
                            letter-spacing: normal;
                            word-spacing: normal;
                            text-align: center;
                            display: inline-block;
                            width: 50%;
                            height: 40px;
                            margin-bottom: -1px;
                            a{
                                font-size: 18px;
                                line-height: 24px;
                                padding-bottom: 13px;
                                position: relative;
                                z-index: 1;
                                i{
                                    display: block;
                                    line-height: 0;
                                    border-color: #F32613 transparent transparent transparent;
                                    border-style: solid dashed dashed dashed;
                                    border-width: 7px;
                                    width: 0;
                                    height: 0;
                                    margin-left: -4px;
                                    position: absolute;
                                    z-index: 1;
                                    left: 50%;
                                    bottom: -17px;
                                }
                            }
                            .active{
                                color: #F32613;
                                display: block;
                                border-bottom: 3px solid #F32613;
                            }
                           }
                        }
                       
                
            }
           .tianxie{
               height:199px;
               margin-top: 30px;
               padding: 0 40px 20px 40px;
               position: relative;
               z-index: 1;
               form{
                   display:block;
                   dl{
                    background-color: #FFF;
                    width: 398px;
                    height: 52px;
                    margin-top: -1px;
                    border: solid 1px #E6E6E6;
                    position: relative;
                    z-index: 1;
                        dt{
                            font-size: 14px;
                            line-height: 20px;
                            color: #666;
                            width: 72px;
                            padding: 16px 0 16px 20px;
                            float: left;
                        }
                        dd{
                            height: 28px;
                            float: left;
                            padding: 12px 0;
                            label{
                                line-height: 24px;
                                background: #FFF5D9 no-repeat 0 0;
                                text-align: left;
                                white-space: nowrap;
                                height: 24px;
                                padding: 8px 12px 8px 24px;
                                position: absolute;
                                z-index: 2;
                                top: 5px;
                                left: 300px;
                                font-size: 12px;
                                color: #ED5564 !important;
                                margin-left: 8px;
                            }
                            .text{
                                width:240px;
                                font-family: "microsoft yahei";
                                font-size: 14px;
                                line-height: 28px;
                                height: 28px;
                                border: 0;
                                outline: none;
                                vertical-align: top;
                                display: inline-block;
                                outline: none;
                               
                                
                            }
                        }
                   }
                   .handle_div{
                       line-height:20px;
                       margin-top:15px;
                       overflow: hidden;
                       font-size:12px;
                       .auto{
                            color: #999;
                            float: left;
                            .checkbox{
                                vertical-align: middle;
                                display: inline-block;
                                margin-right: 4px;
                                outline: none;
                            }
                            em{
                                line-height: 20px;
                                color: #ff3238;
                                vertical-align: top;
                                margin-left: 6px;
                                font-style: normal;
                            }
                       }
                       a{
                        color: #06C;
                        float:right;
                       }
                   }
                   .submit_div{
                       margin-top:15px;
                       .submit{
                           display: block;
                           background-color: #F32613;
                           width: 348px;
                           height: 42px;
                           border: solid 1px #D91E17;
                           border-radius: 3px;
                           cursor: pointer;
                           font-family: "microsoft yahei";
                            font-size: 16px;
                            font-weight: 600;
                            color: #FFF;
                            line-height: 30px;
                       }

                   }
               }
           }
           .login_api{
                    font-size: 0;
                    width: 340px;
                    margin: 0 auto;
                    h4{
                        font-size: 12px;
                        line-height: 20px;
                        color: #333;
                        font-weight: 600;
                        height: 20px;
                        margin-bottom: 10px;
                    }
                    a{
                        font-size: 12px;
                        color: #AAA;
                        vertical-align: top;
                        display: inline-block;
                        height: 32px;
                        margin-right: 24px;
                        }
                        i{
                            background: url(../images/login_pic.png) no-repeat;
                            vertical-align: middle;
                            display: inline-block;
                            width: 32px;
                            height: 32px;
                            margin-right: 6px;
                            font-style: normal;
                      }
                      .QQ i{
                        background-position: 0 0;
                      }
                      .sina i{
                        background-position: -32px 0;
                      } 
                      .wx i{
                        background-position: -64px 0;
                      }

           }
        }
    }
}

//空白行
#kong{
    width:100%;
    background-color: #f5f5f5;
    margin-top: 10px;
    .cir{
        width:1200px;
        height:61px;
        margin:0 auto;
    }
}


@import   "footer";


